nav {
    .bottom_bm {
        margin-bottom: 25px;
    }
    .fa-user {
        font-size: 30px;
        color: #c19473;
        margin-bottom: 27px;
    }
    .dropdown-toggle::after {
        color: #c19473;
    }
    .dropdown-menu {
        box-shadow: unset !important;
        border-radius: 0;
        border-top: 4px solid $main-color !important;
        margin-top: -10px !important;
        margin-left: -100px;
        padding-left: 35px;
        padding-right: 35px;
    }
    @media (max-width: 992px) {
        img {
            width: unset !important;
        }
    }
    .btn-secondary {
        color: #000000 !important;
        background-color: #fff !important;
        border-color: #fff!important;
        font-size: 22px;
        box-shadow: unset !important;
        border: unset !important;
    }
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        color: #000000;
        background-color: #fff;
        border-color: #fff;
        border: unset !important;
        box-shadow: unset !important;
    }
    .btn-secondary:not(:disabled):not(.disabled):active:focus,
    .btn-secondary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-secondary.dropdown-toggle:focus {
        box-shadow: unset !important;
        border: unset !important;
        color: #000000;
        background-color: #fff;
        border-color: #fff;
        box-shadow: unset !important;
    }
    .fa-search {
        color: #000000;
        &:hover {
            color: $main-color;
        }
    }
    transition: 0.6s all ease-in-out;
    .navbar-brand img {
        @media (max-width: 575.98px) {}
    }
    .navbar-toggler-icon::after {
        content: "\f0c9";
        font-family: "Font Awesome 5 free";
        font-weight: 900;
        position: absolute;
        right: .8em;
        color: $main-color;
        font-size: 2rem;
    }
    .navbar-toggler {
        outline: none !important
    }
    .navbar-brand {
        width: 220px;
        @media (max-width: 900px) {
            width: 130px !important;
        }
    }
    .navbar-nav .nav-link {
        font-weight: 500;
        text-shadow: #000000;
        transition: 0.2s all ease-in-out;
        font-size: 1.3rem !important;
        @media (min-width: 992px) and (max-width: 1199.98px) {
            font-size: .95em !important;
        }
        @media (min-width: 1200px) {
            font-size: 1.05rem;
        }
    }
    // &.scroll,
    // &.scroll2 {
    //     background-color: #fff;
    //     box-shadow: 0px 4px 39px -12px rgba($color: $main-color, $alpha: .4);
    //     padding: 1em 0 !important;
    //     .nav-link {
    //         color: #2A2E3F;
    //     }
    // }
    li.nav-item {
        padding-right: 15px;
        // padding-right: 10px;
        position: relative;
        transition: all 0.7s ease-in-out;
        a {
            color: #000000;
            font-size: 24px !important;
            transition: all 0.7s ease-in-out;
            &:hover {
                color: #fff !important;
                background-color: $main-color;
            }
        }
        @media (max-width: 1200px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .navbar-toggler {
        border: 0 !important;
    }
    @media (max-width: 575.98px) {
        padding: 9px 1rem !important;
    }
}

.nav-item.active {
    .nav-link {
        color: #fff !important;
        background-color: $main-color;
    }
}

body.rtl {
    nav .navbar-toggler-icon::after {
        right: unset;
        left: .8em;
    }
    .pl-4 {
        padding-left: 1.5rem !important;
        padding-right: unset !important;
    }
    .ml-4 {
        margin-left: 1.5rem !important;
        margin-right: unset !important;
    }
    .border-right-0 {
        border-right: 0 !important;
        border-left: 1px solid !important;
    }
}

.pl-4 {
    padding-right: 1.5rem !important;
    padding-left: unset !important;
}

.ml-4 {
    margin-right: 1.5rem !important;
    margin-left: unset !important;
}

.border-right-0 {
    border-right: 1px solid !important;
    border-left: 0 !important;
}

.top-logo-section {
    background-color: #c4c1c1;
    .list-unstyled.list-inline {
        margin-bottom: 4px;
    }
    a {
        font-size: 22px;
        &:hover {
            color: $second-color;
        }
    }
}

.top-logo-section .lang a {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 13px !important;
    padding: 0.1rem 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 3px;
}

.nav-item.active .nav-link {
    color: $main-color;
}

.fourth {
    border-radius: 10px !important;
}

// // @media (min-width: 992px) {
// //     .navbar-expand-lg .navbar-nav .nav-link {
// //         padding-right: 1rem;
// //         padding-left: .5rem;
// //     }
// }
.navbar {
    @media (max-width: 767px) {
        .ma_right {
            margin-right: unset !important;
        }
    }
    .ma_right {
        margin-right: -15px !important;
    }
}

@media (max-width: 767px) {
    .top-logo-section .list-unstyled.list-inline {
        margin-bottom: 6px !important;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    @media (min-width: 992px) {
        padding-right: .5rem;
        padding-left: .5rem;
        /* padding-top: 0.6rem; */
        /* padding-bottom: 3.6rem; */
        margin-top: -25px;
        margin-bottom: -15px;
        height: 116px;
        padding-top: 46px;
    }
}

.bg {
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 39px -12px rgba($color: $main-color, $alpha: .4);
    box-shadow: 0px 4px 39px -12px rgba($color: $main-color, $alpha: .4);
    padding: 1em 0 !important;
    height: 106px;
}

@media (max-width: 992px) {
    .data {
        a {
            padding-right: unset !important;
        }
    }
    .navv {
        background-color: #fff !important;
    }
    li.nav-item a {
        padding-right: 3rem;
        &:hover {
            // background-color: unset;
            // color: $main-color;
            padding-left: 1rem;
        }
    }
    .nav-item.active {
        .nav-link {
            // color: $main-color !important;
            // background-color: unset;
            padding-left: 1rem;
        }
    }
}