$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: hsl(210, 9%, 31%) !default;
$main-color:#f09d51;
$second-color:#f06543;
$green-section:#233741; //font text
$green-light:#355e60;
$dark-green:#233741;
$sub-main-color:#212331; //footer
$small-section-color:#161929; //footer
$dark-orange:#fbfbfb;
$section-bg: #f22752;
$footer-color:#846F49;
// $white-color:#fff;
// $black-color:#000;
// $main-color:#313638;
// $orange-color:#f09d51;
// $second-color:#f06543;
// $light-gray-color:#f6f6f6;
// $gray-color1:#313638;
// $gray-color2:#a8a8a8;
// $gray-color3:#f2f2f2;